<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form>
      <input name="city" />
      <button>Envoyer</button>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
